---
layout: archive
title: "Services"
permalink: /services/
author_profile: true
---

{% include base_path %}

{% for post in site.services reversed %}
  {% include archive-single.html %}
{% endfor %}

•	Member, ACP-70 Standing Committee on Highway Traffic Monitoring, Transportation Research Board, National Academies of Sciences, Engineering and Medicine, April 2022 - Present

•	President, Institute of Transportation Engineers, University of Washington Student Chapter, 2019-2020

•	President, Indian Student Organization (RSO) - Umang, 2019

•	Treasurer, Indian Student Organization (RSO) - Umang, 2018

•	Graduate and Professional Student Senate (GPPS) Representative, Foundation for International Understanding Through Students (FIUTS), 2019

•	Graduate Student Committee Member, Justice Equity Diversity and Inclusion (JEDI) committee, Department of Civil and Environmental Engineering, 2021-2022

•	Speaker, National Math and Science Initiative, July 2020

•	Committee Member, Artificial Intelligence Committee, Transportation and Development Institute, American Society of Civil Engineers (ASCE), 2020 - Present

•	Transportation Student Conference Chair, Pacific Transportation Consortium Region 10, United States Department of Transportation, October 2019

